@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  margin:25px 0;
  font-size: 25px;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
}
.leftnav{
  display:flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  margin-left:70px;
}
.navbar button{
  margin-left:10px;
}
button{
  font-size: 15px;
  margin:0;
  padding:0;
  background: none;
  border:none;
  cursor:pointer;
}
.login button{
  margin-left:20px;
}
.signup{
  background:black;
  color:white;
  padding:10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
.container{
  width:80%;
  margin:0 auto;
}
.text{
  background:black;
  border-radius: 7px;
  color:white;
  padding:70px;
  margin:50px 0;
}
.getstarted{
  margin-top:40px;
}
.promo{
  padding:7px 50px;
  margin-right:10px;
}
.button{
  padding:7px 7px;
}
.fixedImg{
  position:absolute;
  right:150px;
}
.sponsors{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left:220px;

}
.sponsors img{
  width:100%;
  height:100%;
  margin:20px;

}
.secondContainer{
  display:flex;
  justify-content: space-between;
}
.rewards{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:90%;
  margin: 0 80px;
}
.someUnprofessionalDivName{
  align-self: center;
  margin-top:60px;
}
.shortText p{
  margin-bottom:15px;
}
.rewards h1{
  align-self: center;
  margin-bottom:60px;
}
.text h1{
  margin-bottom:20px;
}


.footer{
  background:black;
  border-radius: 7px;
  color:white;
  padding:70px;
  margin:50px 0;
  display:flex;
  justify-content: space-between;

}
.leftHalf{
  width:400px;
}
.rightHalf{
  display:flex;
}
.footerNav{
  margin-right:30px;
  display:inline-block;
  width:100px;
}
.footerNav p{
  margin-bottom:10px;
  font-weight: bold;
}
.footerNav a{
  margin-bottom:10px;
  color:white;
  text-decoration: none;
  font-weight: lighter;
}
.copyright{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:-20px;
  margin-bottom:25px;
}
.imgContainer{
  display:flex;
  margin-top:10px;
  justify-content:center;
  align-items: center;

}
.set{
  margin:10px;

}
.set img{
  margin-bottom:20px;
}
.button{
  background: rgb(255,178,13);
  background: linear-gradient(87deg, rgba(255,178,13,1) 0%, rgba(205,0,255,1) 100%);
  border: none;
  padding:13px;
  border-radius: 10px;
  color:white;
  font-weight: bold;
  cursor:pointer;
}
@media only screen and (min-width: 1000px;){
  .imgContainer{
    display:flex;
    margin-top:10px;
    justify-content:center;
    align-items: center;

  }


}

@media only screen and (max-width: 1200px){
  .fixedImg{
    display:none;
  }
  .leftImage{
    display:none;
  }
  .rightImage{
    display:none;
  }
  .rewards{
    margin: 0 20%;
  }
  .sponsors{
    display:none;
  }
  .footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .leftHalf{
    margin-bottom:80px;
  }
  .text{
    text-align: center;
  }
  .imgContainer{
    display:flex;
    margin-top:10px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .imgContainer img{



  }

  .set{

  }

}
@media only screen and (max-width: 900px){
.nav{
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.leftnav{
  margin-bottom: 20px;
}
.set img{
  width:90%;
}
.set{
  width:95%;
  margin:0 auto;
}

}
@media only screen and (max-width: 720px){
  .leftnav{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar{
    margin-left:0;
    margin-top:15px;
  }
  .footer{
    align-items: flex-start;
    padding:5%;
    font-size: 14px;
  }
  .footerNav{
    margin-right:0px;
  }
  .container{
    width:90%;
  }
  .promo{
    margin-bottom:20px;
  }

}
