@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  margin:25px 0;
  font-size: 25px;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
}
.leftnav{
  display:flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  margin-left:70px;
}
.navbar button{
  margin-left:10px;
}
button{
  font-size: 15px;
  margin:0;
  padding:0;
  background: none;
  border:none;
  cursor:pointer;
}
.login button{
  margin-left:20px;
}
.signup{
  background:black;
  color:white;
  padding:10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
.container{
  width:80%;
  margin:0 auto;
}
.text{
  background:black;
  border-radius: 7px;
  color:white;
  padding:70px;
  margin:50px 0;
}
.getstarted{
  margin-top:40px;
}
.promo{
  padding:7px 50px;
  margin-right:10px;
}
.button{
  padding:7px 7px;
}
.fixedImg{
  position:absolute;
  right:150px;
}
.sponsors{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:20px;
}
.sponsors img{
  margin:10px;
}
.secondContainer{
  display:flex;
  justify-content: space-between;
}
.rewards{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:90%;
  margin: 0 80px;
}
.someUnprofessionalDivName{
  align-self: center;
  margin-top:60px;
}
.shortText p{
  margin-bottom:15px;
}
.rewards h1{
  align-self: center;
  margin-bottom:60px;
}
.text h1{
  margin-bottom:20px;
}
.imgContainer{
  display:flex;
  margin-top:10px;
  justify-content: center;


}

.set{
  margin:10px;
  flex-wrap: wrap;
  flex-direction: row;


}
.set img{
  margin-bottom:10px;

}
.footer{
  background:black;
  border-radius: 7px;
  color:white;
  padding:70px;
  margin:50px 0;
  display:flex;
  justify-content: space-between;

}
.leftHalf{
  width:400px;
}
.rightHalf{
  display:flex;
}
.footerNav{
  margin-right:30px;
  display:inline-block;
  width:100px;
}
.footerNav p{
  margin-bottom:10px;
  font-weight: bold;
}
.footerNav a{
  margin-bottom:10px;
  color:white;
  text-decoration: none;
  font-weight: lighter;
}
.copyright{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:-20px;
  margin-bottom:25px;
}
